@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

.cor {color: #feec00;}
.cor2 {color: #dfcf00;}
.cor3 {color: #6a6a6a;}

html {
    scroll-behavior: smooth; /* rolagem do site */
}

.topo-do-site {
    width: 100%;
    height: 800px;
    background: url('../img/banner.png') no-repeat center center;
    background-size: cover;
}

.topo-do-site h1 {
    font-family: Poppins;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 300px;
}

.topo-do-site p {
    font-family: Montserrat;
    color: #feec00;
    font-weight: bold;
}

.botao {
    border: none;
    background: linear-gradient(#00c2fa, #0061ec);
    padding: 23px 23px 23px 23px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Montserrat;
    border-radius: 30px;
    margin-top: 25px;
}

.botao:hover {
    background: linear-gradient(black, #8c8f93);
}

/* Inicio Secao 1 */

.secao-1 h2 {
    font-family: Poppins;
    font-size: 2em;
    color: #3a4a92;
    font-weight: bold;
    margin-top: 110px;
}

.secao-1 p {
    font-family: Poppins;
    font-weight: bold;
    margin-top: 20px;
}

.imagens-secao {
    padding-top: 200px;
}

/* Fim Secao 1 */

/* Inicio Secao 2 */

.secao-2 {
    background: url(../img/eletricista.png) no-repeat center center;
    background-size: cover;
    height: 478px;
    margin-top: 110px;
        margin-bottom: 80px;/* marcação */
}

.render {
    margin-top: 77px;
}

.secao-2 h2 {
    font-family: Poppins;
    font-size: 2em;
    color: white;
    text-transform: uppercase;
    margin-top: 123px;
}

.secao-2 p {
    font-family: Poppins;
    color: white;
    margin-top: 30px;
}

/* Fim Secao 2 */

/* inicio Secao 3 */

.secao-3 h2 {
    font-family: Poppins;
    font-size: 1.7em;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.secao-3 li {
    list-style-type: none;
    margin-top: 40px;
    background: linear-gradient(#00c2fa, #0061ec);
    width: 300px;
    height: 400px;
    border-radius: 30px 10px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #feec00;
    box-shadow: 11px 17px 19px -9px rgba(0, 0, 0, 0.568);
    padding: 20px 20px 30px 20px;
}

.secao-3 li h3 {
    font-family: poppins;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.secao-3 li p {
    font-family: poppins;
    color: white;
    margin-top: 15px;
}

.secao-3 li img {
    margin-top: 10px;
    margin-bottom: 30px;
}

/* Fim Secao 3 */

/* Inicio Secao 4 */

.secao-4 {
    width: 100%;
    height: 700px;
    background: #fafafa;
    margin-top: 110px;
}

.secao-4 h2 {
    font-family: poppins;
    font-weight: bold;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    
}

.secao-4 p {
    font-family: poppins;
    color: black;
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: bolder;
}

.secao-4 li {
    font-family: poppins;
    font-weight: bold;
    font-size: 16px;
    padding-top: 15px;
}

.secao-4 ul {
    list-style-type: none;
}

.eletricista {
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 11px 17px 19px -9px rgba(0, 0, 0, 0.836);
}

.fa-solid {
    margin-right: 10px;
    color: orange;
}

.cta .botao {
    margin-top: 40px;
}

/* Fim Secao 4 */

/* Inicio Secao 5 */

.mapa {
    width: 100%;
    height: 550px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.secao-5 h2 {
    font-family: Poppins;
    font-size: 1.7em;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-top: 80px;
}

/* Fim Secao 5 */

/* Estilos da Seçao 6 */

.secao-6 {
    width: 100%;
    height: 700px;
    margin-top: 110px;
}

.secao-6 h2 {
    font-family: poppins;
    font-weight: bold;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 60px;
}

.secao-6 li {
    font-family: poppins;
    font-weight: bold;
    font-size: 16px;
    padding-top: 15px;
}

.secao-6 ul {
    list-style-type: none;
}

.eletrica {
    margin-top: 125px;
}

.canais h3 {
    font-family: montserrat;
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
    color: blue;
}

.canais p {
    margin-top: 10px;
    text-transform: none;
}

/* Fim da Seçao 6 */

/* Inicio da Seçao 7 */

.secao-7 {
    background: url(../img/depoimento.jpg) no-repeat center center;
    background-size: cover;
    height: 1200px;
    margin-top: 110px;
}

.secao-7 h2 {
    font-family: poppins;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
    text-transform: uppercase;
}

.depoimento li {
    background: rgba(39, 22, 252, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(39, 22, 252, 0.57);
    height: 450px;
    margin-top: 40px;
    text-align: center;
}

.depoimento h3 {
    font-family: poppins;
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.depoimento p {
    font-family: poppins;
    font-size: 15px;
    color: white;
    margin-top: 5px;
}

.depoi {
    height: 200px;
    width: 200px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 500px;
    -o-object-fit: cover;
    margin-top: 30px;
}

/* Fim da Seção 7 */

/* inicio da Seção 8 */

.secao-8 {
    width: 100%;
    height: 700px;
    background-color: #020524;
    text-align: center;
}

.secao-8 h2 {
    font-family: poppins;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    font-size: 30px;
}

.secao-8 p {
    font-family: poppins;
    font-size: 18px;
    color: white;
    margin-top: 5px;
}

.secao-8 .botao {
    margin-top: 50px;
}

/* Fim da Seção 8*/

/* inicio da Seção 9 */

.secao-9 {
    height: 350px;
    background-color: #ffa500;
}

.profissional {
    margin-top: -122px;
}

.secao-9 h2 {
    font-family: poppins;
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin-top: 80px;
}

.secao-9 p {
    font-family: poppins;
    color: black;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

/* Fim da Seção 9 */

/* Inicio da Seção 10 */

.secao-10 {
    height: 50px;
    width: 100%;
    background-color: black;
}

.secao-10 h2 {
    text-align: center;
    color: white;
    font-family: poppins;
    font-size: 15px;
    padding-top: 10px;
    font-weight: normal;
}

/* Fim da Seção 10 */

.voltar {
    position: absolute;
    left: 80%;
    margin-top: -80px;
}